{% extends "learning_logs/base.html" %}

{% block title %}
Topic - {{topic}}
{% endblock title %}

{% block content %}
<p>Topic: {{topic}}</p>
<p>Entries:</p>
<ul>
    {% for entry in entries %}
    <li>
        <p>Date: {{entry.date_added}}</p>
        <p>Entry: {{entry.text}}</p>
        <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit this entry</a>
    </li>
    {% empty %}
    <li>No entries associated with this entry yet</li>
    {% endfor %}

</ul>
<a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry related to this topic</a>
{% endblock content %}
